.container {
  max-width: 950px;
  margin: 0 auto;
}

.promo {
  min-height: 650px;
  padding: 21px 0 93px;
  background: url("../img/bg111.png") center center/cover no-repeat;
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 90px;
  max-width: 1000px;
  margin: 0 auto;
}

.promo__header {
  font-size: 42px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 42px;
  margin-top: 110px;
}

.promo__subheader {
  margin-top: 17px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  text-transform: uppercase;
}

.promo__icons {
  margin-top: 65px;
  width: 425px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.promo__icon {
  width: 108px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
}

.promo__icon img {
  margin-bottom: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.promo .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.promo .header__logo {
  width: 250px;
}

.promo .header__logo img {
  width: 100%;
}

.promo__link {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 18px;
}

.promo__link a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.promo .header__Official {
  color: #ffffff;
  font-family: "Museo Sans Cyrl";
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}

.promo .header__Official span {
  font-size: 18px;
  display: block;
}

.promo .header__phon {
  display: flex;
  font-size: 18px;
  font-weight: 700;
}

.promo .header__phon a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: underline;
}

.promo .header__phon:hover {
  color: #ffffff;
  text-decoration: none;
  color: #ffffff;
  font-family: "Museo Sans Cyrl";
  text-align: right;
}

.promo .header__contacts {
  font-size: 18px;
  color: #ffffff;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.promo .button {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #c70101;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

.promo .button__main {
  margin-top: 67px;
  width: 300px;
  height: 50px;
  border-radius: 5px;
  font-size: 16px;
}

.promo .button__submit {
  color: #ffffff;
  width: 100%;
  height: 55px;
  font-size: 16px;
  background-color: #c70101;
}

.privilege {
  max-width: 950px;
  margin: 0 auto;
  height: 471px;
}

.privilege__heder {
  display: flex;
  justify-content: center;
  margin-top: 71px;
  font-size: 30px;
  color: #0d0d0d;
}

.privilege__icons {
  margin-top: 69px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.privilege__icon {
  width: 280px;
  height: 89px;
  font-size: 14px;
  color: #0d0d0d;
}

.privilege__img {
  width: 100%;
  border: 38px;
}

.privilege__header {
  margin-top: 10px;
}

.privilege a {
  color: red;
  text-transform: uppercase;
  text-decoration: underline;
}

.consultation {
  min-height: 680px;
  padding: 100px 0 92px 0;
  background: url("../img/bg2.png") center center/cover no-repeat;
}

.consultation .title__left {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: left;
}

.consultation .consultation__desc {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
}

.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.feed-form input {
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  color: #4b4b4b;
  font-size: 14px;
  font-weight: 300;
}

.feed-form input:nth-child(3) {
  margin-bottom: 20px;
}

.feed-form .button {
  width: 100%;
  height: 55px;
  color: #ffffff;
  font-size: 16px;
  background-color: #c70101;
  border: none;
  font-size: 12px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 5px;
}

.carousel {
  padding: 81px 0;
}

.carousel__inner {
  position: relative;
  width: 750px;
  margin: 0 auto;
}

.carousel .slick-prev {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -66px;
  border: none;
  background-color: #ffffff;
}

.carousel .slick-prev img {
  width: 31px;
  height: 50px;
}

.carousel .slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(50%);
  border: none;
  background-color: #ffffff;
  right: -66px;
  left: auto;
}

.catalog {
  padding-bottom: 100px;
}

.catalog__tabs {
  margin-top: 70px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0;
  padding-left: 0;
}

.catalog__tab {
  width: 220px;
  height: 50px;
  border: 2px solid #d0d0d0;
  color: #6b6b6b;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  line-height: 48px;
  transform: skewX(-25deg);
  margin: 0 5px;
  cursor: pointer;
  transition: 0.5s all;
}

.catalog__tab:hover {
  box-shadow: 3px 3px 20px red;
  border: none;
}

.catalog__tab div {
  transform: skewX(25deg);
}

.catalog__tab_active {
  color: #ffffff;
  background-color: #c70101;
  border: none;
}

.catalog__content {
  margin-top: 60px;
}

.catalog-item {
  min-height: 440px;
  width: 300px;
  border: 2px solid #e8e8e8;
  background-color: #ffffff;
  padding: 20px 20px 26px 20px;
}

.catalog-item__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: 140px;
}

.catalog-item__subtitele {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}
